@import "tailwindcss";


:root {
  --background: linear-gradient( to bottom ,#000000 , #040e25 );

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-b: var(--b);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-fira: Fira Sans, static;
}


body {
  background: var(--background);
  font-family: Fira Sans;

}
